*{
    box-sizing: border-box;
    font-family: century Gothic, CenturyGothic, sans-serif;
}

html,
body{
    height: auto;
    background-color: #ffffff;
}

/* ----------------------------Grids--------------------------- */
.page-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
}
.title-grid{
  display:grid;
  grid-row: 1;
  grid-template-columns: 30px 125px 30px 150px auto;
  grid-template-rows: 20px auto;
  }
  .title-phone{
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
  }
  .title-phonenumber{
    grid-column: 2;
    grid-row: 1;
    z-index: 1;
  }
  .title-mail{
    grid-column: 3;
    grid-row: 1;
    z-index: 1;
  }
  .title-email{
    grid-column: 4;
    grid-row: 1;
    z-index: 1;
  }
  .title-background{
    grid-column: 1 / span 5;
    grid-row: 1 / span 2;
    z-index: 0;
  }
  .title-title{
    grid-column: 5;
    grid-row: 2;
    z-index: 1s;
  }

.image-stack {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(17, 50px);
    position: relative;
  }
  
  .image-stack-item-bottom1 {
    grid-column: 19 / -1;
    grid-row: 3;
  }
  
  .image-stack-item-top1 {
    grid-column: 16 / span 10;
    grid-row: 2;
    padding-top: 10%;
    z-index: 0;
  }
  
  .image-stack > img {
    width: 35%;
    display: block;
  }
  .image-stack-item-bottom2 {
    grid-column: 16 / -1;
    grid-row: 10;
  }
  
  .image-stack-item-top2 {
    grid-column: 21 / span 10;
    grid-row: 8;
    padding-top: 10%;
    z-index: 0;
  }

  .title-top1{
    grid-column: 18 / span 10;
    grid-row: 1
  }
  .random-title{
    grid-column: 1 / span 10;
    grid-row: 1;
  }
  .random-text{
    grid-column: 2 / span 10;
    grid-row: 2
  }
.foot-grid{
  display: grid;
  grid-row: 6;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: #1C1C1C;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid grey;
}
.foot-copy{
  color: grey;
  grid-column: 2;
}

.underbody-custom-grid{
  display: grid;
  grid-row: 4;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto auto;
}
  .underbody-title{
    grid-column: 2 / span 2;
    grid-row: 1;
  }
  .underbody-mass{
    grid-column: 2 / span 3;
    grid-row: 2;
  }
  .underbody-but{
    grid-column: 2;
    grid-row: 2;
    color: #404040;
    margin-top: 150px;
    margin-left: 45px;
    font-weight: bold;
    font-size: 25px;
  }
  .underbody-image{
    grid-column: 5;
    grid-row: 2;
  }
.lower-body-grid{
  display: grid;
  grid-row: 5;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 65px 350px 25px 25px;
}
  .lower-image{
    grid-row:2;
    grid-column: 2;
  }
  .lower-title{
    grid-column:2;
    grid-row:1;
    font-weight:bold;
  }
  .lower-mass{
    grid-column:3 / span 2;
    grid-row:2;
  }
/*-------------------------------------Login Page-----------------------------------*/

.login-grid{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  }
  .login-title{
    grid-row:1;
  }
  .login-body{
    display: grid;
    grid-row:2;
    grid-template-columns: 5% 45% 50% 5%;
    }
    .login-body img{
      grid-column: 2;
    }
    .login-body form{
      grid-column: 3;
    }
  .login-button{
    grid-row:3;
  }