.page-grid{
    display: grid;
    grid-template-rows: repeat(4,auto);
    }
    .header-grid{
        display:grid;
        grid-row: 1;
    }
    .nav-grid{
        display:grid;
        grid-row: 2;
        grid-template-columns: 50% 20% 15% 15%;
        grid-template-rows: auto;
        }
        .nav-nav{
            grid-column: 1;
        }
        .nav-search{
            grid-column: 2;
        }
        .nav-total{
            grid-column: 3;
        }
        .nav-cart{
            grid-column: 4;
        }
    .card-grid{
        display: grid;
        grid-row: 3;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: auto;
        }
        .product1-grid{
            display: grid;
            grid-column: 1;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            }
            .product1-title{
                grid-row: 1;
            }
            .product1-image{
                grid-row: 2;
            }
            .product1-price{
                grid-row: 3;
            }
            .product1-but{
                grid-row: 4;
            }    
        .product2-grid{
            display: grid;
            grid-column: 2
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
           }
            .product2-title{
                grid-row: 1;
            }
            .product2-image{
                grid-row: 2;
            }
            .product2-price{
                grid-row: 3;
            }
            .product2-but{
                grid-row: 4;
            }
        .product3-grid{
            display: grid;
            grid-column: 3;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            }
            .product3-title{
                grid-row: 1;
            }
            .product3-image{
                grid-row: 2;
            }
            .product3-price{
                grid-row: 3;
            }
            .product3-but{
                grid-row: 4;
            }
        .product4-grid{
            display: grid;
            grid-column: 4;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            }
            .product4-title{
                grid-row: 1;
            }
            .product4-image{
                grid-row: 2;
            }
            .product4-price{
                grid-row: 3;
            }
            .product4-but{
                grid-row: 4;
            }
    .custom-grid{
        display: grid;
        grid-row: 4;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
        .custom-title{
            grid-row:1;
        }
        .custom-mass{
            grid-row:2;
        }
        .custom-but{
            grid-row:3;
        }
    .footer-grid{
       display: grid;
        grid-row: 5;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        background-color: #1C1C1C;
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid grey;
        }
        .footer-copy{
        color: grey;
        grid-column: 2;
        }