*{
    box-sizing: border-box;
    font-family: century Gothic, CenturyGothic, sans-serif;
}

html,
body{
    height: auto;
    background-color: #ffffff;
}

.image-stack {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 50px);
    position: relative;
  }
  
  .image-stack-item-bottom1 {
    grid-column: 19 / -1;
    grid-row: 2;
  }
  
  .image-stack-item-top1 {
    grid-column: 17 / span 8;
    grid-row: 2;
    padding-top: 10%;
    z-index: 0;
  }
  
  .image-stack > img {
    width: 25%;
    display: block;
  }
  .image-stack-item-bottom2 {
    grid-column: 17 / -1;
    grid-row: 10;
  }
  
  .image-stack-item-top2 {
    grid-column: 22 / span 8;
    grid-row: 8;
    padding-top: 10%;
    z-index: 0;
  }

  .title-top1{
    grid-column: 18;
    grid-row: 1
  }